{% extends 'base.html.twig' %}

{% block title %}SymfonyCon Dashboard{% endblock %}

{% block body %}
<p style="text-align:center;">
    <img src="/images/construction.png" alt="WIP">
</p>
{% endblock %}
