{% extends 'base.html.twig' %}

{% block title %}SymfonyCon{% endblock %}

{% block body %}
<h1 style="text-align:center;">
    {{greet}}
</h1>
<p style="text-align:center;">
    <img src="/images/construction.png" alt="WIP">
</p>
{% endblock %}
